{% extends 'base.html' %}
{% block content %}
    <div class="dashboard-container">
        <h2>Doctor's Dashboard</h2>
        <form method="POST" class="patient-form">
            <div class="form-group">
                <input type="text" name="patient_id" placeholder="Enter Patient ID" required>
            </div>
            <input type="submit" value="Retrieve Patient Data">
        </form>
        
        {% if patient_data %}
        <div class="patient-data">
            <h3>Patient Data</h3>
            <p><strong>BMI:</strong> {{ patient_data.BMI }}</p>
            <p><strong>Weight:</strong> {{ patient_data.Weight }} kg</p>
            <p><strong>Height:</strong> {{ patient_data.Height }} cm</p>
        </div>
        {% endif %}
    </div>
<div class="content-container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
</div>
{% endblock %}
